@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');



*{
    box-sizing: border-box;
}

body{
    background-image: url("https://images.unsplash.com/photo-1551675720-85b4ffb5d429?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1234&q=80");
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    
    font-family: "Roboto", sans-serif;
    margin: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title{
    color: white;
}

.countdown-container{
    color: white;
    display: flex;
    

}

h1{
    font-size: 4rem;
    font-weight: normal;
}

.big-text{
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-el{
    text-align: center;
}

.countdown-el span{
    font-size: 2rem;
}

